.conteinerMap {

    height: 500px;
    width: 500px;
}

@media only screen and (max-width: 1200px) {


    .conteinerMap {

        height: 432px;
        width: 432px;
    }
  
}

@media only screen and (max-width: 992px) {

    .conteinerMap {

        height: 432px;
        width: 432px;
    }

}

@media only screen and (max-width: 768px) {

    .conteinerMap {

        height: 312px;
        width: 312px;
    }


}

@media only screen and (max-width: 576px) {

    .conteinerMap {

        height: 327px;
        width: 327px;
    }
  
}